<script setup>
  import GithubCard from './GithubCard.vue';
  import { ref } from 'vue';
  
  const props = defineProps({
    users:{type:Array, required:true}
  })

</script>
  
<template>
    <div class="wrapper">
      <GithubCard v-for="user in users" :user="user" />
    </div>
</template>

<style scoped>
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  }
</style>