<script setup>
  import { ref } from 'vue';
  const props = defineProps({
    user:{type:String, required:true}
  })

  const empty = false;
  const data = ref({})
  let url = "https://api.github.com/users/" + user;
  function load() {
    fetch(url)
        .then(response => response.json())
        .then(result => data.value = result)
        .catch(error => {
          console.error("Error:", error);
          data.value = null; 
        })
  }
  load();
  
</script>

<template>
  <div v-if="data" class="github-card">
    <a :href="data.html_url" target="_blank">
      <img :src="data.avatar_url" alt="avatar" />
      <h2>{{ data.login }}</h2>
      <p>{{ data.name }}</p>
      <p>{{ data.bio }}</p>
      <p>Followers: {{ data.followers }}</p>
      <p>Location: {{ data.location }}</p>
    </a>
  </div>

  <div v-else class="github-card">
    <a :href="data.html_url" target="_blank">
      <img src="https://www.pngkey.com/png/full/233-2332677_image-500580-placeholder-transparent.png" alt="avatar" />
      <h2>Brak</h2>
    </a>
  </div>
</template>

<style scoped>

</style>
