<script setup>
  import GithubCardWrapper from './components/GithubCardWrapper.vue';
</script>

<template>
  <GithubCardWrapper :users="['MattMoszczynski', 'lwadas', 'Wilczuk1506']"></GithubCardWrapper>
</template>

<style scoped>

</style>
